* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
}

.container {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header {
    padding: 16px 0 0;
    border-bottom: 1px solid #00294d;
    margin-bottom: 56px;
    background-color: #00294d;
    color: white;
}

.menu > li {
    float: left;
    list-style: none;
    padding: 16px;
    border-top: 4px solid transparent;
    position: relative;
}

.menu li:hover {
    border-color: #376790;
}

.conteudo {
    display: grid;
    grid-template-columns: 90% 10%;
}

.sobre {
    margin: 40px 0;
}

.sobre-conteudo {
    display: flex;
    gap: 24px;
    align-items: center;
    flex-wrap: wrap;
}

.sobre-conteudo img {
    max-width: 100%;
    width: 400px;
    border-radius: 8px;
}

.texto-sobre {
    flex: 1;
}

.texto-sobre h2 {
    font-size: 28px;
    margin-bottom: 12px;
    border-bottom: 2px solid #000;
    width: 100%;
}

.texto-sobre p {
    font-size: 18px;
    line-height: 1.5;
    text-align: justify;
}

.produtos {
    margin: 40px 0;
}

.produtos h2 {
    font-size: 28px;
    margin-bottom: 24px;
    padding-bottom: 8px;
    border-bottom: 2px solid #000;
    width: 100%;
}

.lista-produtos {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    justify-content: space-between;
}

.produto {
    flex: 1 1 calc(25% - 18px);
    background-color: #f9f9f9;
    padding: 16px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.05);
    text-align: center;
}

.produto img {
    max-width: 80%;
    height: auto;
    margin-bottom: 12px;
    border-radius: 4px;
}

.produto h3 {
    font-size: 20px;
    margin: 8px 0;
}

.produto p {
    font-size: 16px;
    margin-bottom: 12px;
    text-align: justify;
}

.produto button {
    background-color: #000;
    color: #fff;
    border: none;
    padding: 10px 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.produto button:hover {
    background-color: #333;
}

/* Responsividade */

@media screen and (max-width: 767px) {
    .conteudo {
        display: block;
    }

    .container {
        max-width: 90%;
    }

    header .container {
        flex-direction: column;
    }

    .menu {
        display: none;
    }

    .menu > li {
        clear: both;
    }

    .botao-menu {
        display: flex;
        justify-content: center;
        margin-top: 16px;
        padding-bottom: 16px;
    }

    .botao-menu button {
        padding: 8px;
    }

    .produto {
        flex: 1 1 100%;
    }

    
}

@media screen and (min-width: 641px) and (max-width: 1023px) {
    .container {
        max-width: 90%;
    }

    .botao-menu {
        display: none;
    }

    .sobre-conteudo {
        flex-direction: column;
        text-align: center;
    }

    .texto-sobre {
        width: 100%;
    }

    .lista-produtos {
        justify-content: center;
    }

    .produto {
        flex: 1 1 calc(50% - 12px); /* 2 produtos por linha */
    }
}


@media screen and (min-width: 1024px) {
    .botao-menu {
        display: none;
    }
}
